/* ------ Background image (laptop and coffee) */
.background-image {
    background-image: url(assets/mac-and-coffee.jpg);
    background-size:cover;
    background-position:center;
    min-height:900px;
    opacity: 0.5;
    position:relative;
    text-align:center;
}

@media screen and (max-width: 670px){
    .background-image {
        min-height:750px;
        max-width:100%;
    }
}

/* Navbar name (Stephanie McInelly) */
.brand-logo{
    margin-left:30px;
}

@media screen and (max-width: 670px) {
    .brand-logo {
        min-width:80%;
        
    }
}
 /* Navbar links */
.links{
    margin-right:30px; 
}
/* Home page text (Hi, I'm Stephanie...*/
.main-container{
    position: absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
}

@media screen and (max-width:670px){
    .main-container {
        top:50%;
    }
}
 /* Giphy for coming soon page */
.giphy {
    display:block;
    text-align:center;
}

/* Update soon page */
.main-container h4 {
    padding-top:50px; 
}
/* Self portrait on about page */
.image {
    display:block;
    margin: 0 auto;
    margin-bottom:20px;
    text-align:center;
}

/* Hover effect on links in cards (Portfolio page) */
.card-action .brown-text:hover{
    padding:5px;
}

/* Grant search tool screenshot center alignment */
.screenshot {
    display:block;
    margin: 0 auto;

}