


.background-image {
    background-image: url(assets/mac-and-coffee.jpg);
    background-size:cover;
    background-position:center;
    min-height:900px;
    opacity: 0.5;
    position:relative;
    text-align:center;
}

@media screen and (max-width: 670px){
    .background-image {
        min-height:500px;
    }
}

.brand-logo{
    margin-left:30px;
}

.links{
    margin-right:30px; 
}

.main-container{
    position: absolute;
    top:55%;
    left:50%;
    transform:translate(-50%, -50%);
}

.giphy {
    display:block;
    text-align:center;
}

.image {
    display:block;
    margin: 0 auto;
    margin-bottom:20px;
    text-align:center;
}